todo works
    <form (ngSubmit)="save()">
        <div class="form-wrapper">
            <div class="form__group">
                <label class="form__label">List Name</label>
                <input class="p-col" [(ngModel)]="list.name" name="name"/>
            </div>
            <div class="form__group">
                <label class="form__label">List Todos</label>
                <button (click)="addTodo()">Add Todo</button>
                <div *ngFor="let todo of list.todos; let i = index; trackBy:track" >
                    <input class="p-col" [(ngModel)]="list.todos[i]" type="text" name="todo-{{i}}"/>
                </div>
            </div>
            <footer class="dialog__footer">
                <button type="submit">Save</button>
            </footer>
        </div>
    </form>

